'circuitidlastmile', 'activated_at', 'vlanid', 'vlanname', 'ipaddressptp', 'blockippubliccustomer', 'layanan', 'bandwidth', 'satuan', 'kawasan', 'keterangan', 'circuitidbackhaul', 'vendor_id', 'status'
$costumercircuit = Costumercircuit::lists('nama', 'id');
		$vendor = Vendor::lists('nama', 'id');
		$circuitidbackhaul = Backhaul::lists('id', 'id');